<h1 class="mt-4">
  <i *ngIf="!id" class="fas fa-user-plus"></i>
  <i *ngIf="id" class="fas fa-user-edit"></i>
  Clientes
</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="width: 100%">
      {{(id)?"Edição":"Cadastro"}}
    </li>
</ol>
<div class="container">
	<form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-12">
				<div *ngIf="sucesso==true && !id" class="alert alert-success" role="alert">
            Usuário adicionado com sucesso
				</div>
        <div *ngIf="sucesso==true && id" class="alert alert-success" role="alert">
            Usuário editado com sucesso
        </div>
        <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
				     {{error}}
				</div>
			</div>
		</div>
		<div class="row" *ngIf="cliente.id">
			<div class="col-md-6">
				<div class="form-group">
					<label>ID:</label>
					<input type="text" class="form-control" name="id" [ngModel]="cliente.id" disabled="true" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Data Cadastro</label>
					<input type="text" class="form-control" name="dataCadastro" [ngModel]="cliente.dataCadastro"  disabled="true" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Nome *</label>
					<input type="text" [(ngModel)]="cliente.nome" name="nome" class="form-control"/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>CPF *</label>
					<input type="text" [(ngModel)]="cliente.cpf" name="cpf" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<button *ngIf="!id" class="btn btn-success pl-4 pr-4 mr-2"><i class="far fa-plus-square"></i> Adicionar Cliente</button>
        <button *ngIf="id" class="btn btn-success pl-4 pr-4 mr-2"><i class="fas fa-sync"></i> Editar Cliente</button>
        <button class="btn btn-danger text-white pl-4 pr-4" (click)="navigate('/clientes')"><i class="fas fa-arrow-left"></i> Voltar</button>
			</div>
		</div>
	</form>
</div>

