<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a style="cursor:pointer" class="nav-link" (click)="navigate('/sistema/home')">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a style="cursor:pointer" class="nav-link" (click)="navigate('/sistema/clientes')"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Clientes
                </a>
                <a style="cursor:pointer" class="nav-link" (click)="navigate('/sistema/servicos')"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Servicos
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
             {{usuarioLogado}}
        </div>
    </nav>
</div>
